* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;


}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1456154875099-97a3a56074d3?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.panel {
    overflow: hidden;
    backdrop-filter: blur(10px);

    border-radius: 20px;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.223);

}

#ptop {
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.362);
    color: rgb(37, 36, 36);

}

.elem {
    display: flex;
    gap: 10px;
    margin: 10px;

    align-items: center;
    justify-content: space-between;

}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    height: 20px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    color: rgb(12, 42, 135);
}


#pbtm {


    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 96.8%;
    height: calc(100%-100px);
    position: relative;



}

#bubble {


    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 50%;
    font-size: larger;
    font-weight: 600;
    color: rgb(0, 0, 0);

}

#bubble:hover {

    cursor: pointer;
    background-color: rgb(12, 42, 135);


    color: white;

}

i {
    font-size: 30px;
    color: rgb(37, 36, 36);
}